@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
   
    font-family:  "poppins", sans-serif;
}

.Card_Main_Experience {
    background-color: #670000;
   
    
}


.Card_experience {
    font-size: 80px;
    color: #fff;
    font-weight: 300px;
}

.Card_Design {
 
    border-bottom: 1px solid #700F0F;
    
}



.Card_Extrnal {
    color: #FFEFAE;

   
}

.Card_Design_web_Experience {
    
    color: #FFEFAE;
    
}

.Card_Design_date {
    color: #fff;
  
}


@media only screen and (max-width: 750px) {
    .Card_experience{
        font-size: 45px;
    }
    .Card_Design_web_Experience{
        font-size: 16px;
    }
    .Card_Design_date{
        font-size: 16px;
    }
}
